<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51863063676-egsjrh79dfhnbsj6pk8fiqovi3sucjp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51863063676-egsjrh79dfhnbsj6pk8fiqovi3sucjp8</string>
	<key>API_KEY</key>
	<string>AIzaSyCwL9v3yNQYzwu0bV4_D-VyUPd9jxHZp3A</string>
	<key>GCM_SENDER_ID</key>
	<string>51863063676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apkeroo.copBelgium</string>
	<key>PROJECT_ID</key>
	<string>cop-belgium</string>
	<key>STORAGE_BUCKET</key>
	<string>cop-belgium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51863063676:ios:541d0c7358edc636640df9</string>
</dict>
</plist>